@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: optional;
  src: url(/fonts/JetBrainsMono.ttf) format("ttf");
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

@layer base {
  .dotted-background {
    background-image: radial-gradient(
      theme("colors.gray.800") 10%,
      theme("colors.gray.900") 10%
    );
    background-position: 0 0;
    background-size: 1.75rem 1.75rem;
  }
  html,
  body {
    @apply bg-gray-900 text-gray-300;
    overscroll-behavior-x: contain;
    font-family: "JetBrains Mono";
  }
  .btn {
    @apply flex items-center px-5 py-2 rounded-xl border-2 border-gray-800 text-gray-500;
  }
}
