@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-display: optional;
  src: url(/fonts/JetBrainsMono.ttf) format("ttf");
}

@layer base {
  .dotted-background {
    background-image: radial-gradient(
      theme("colors.gray.800") 12%,
      theme("colors.gray.900") 12%
    );
    background-position: 0 0;
    background-size: 1.75rem 1.75rem;
  }
  html,
  body {
    @apply bg-gray-900 text-gray-300;
    font-family: "JetBrains Mono";
  }
}
